body{

    height: 100vh;    
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

h1{
    color:antiquewhite;
    text-align: center;
    
}

main{
    border-color: antiquewhite;
    border-radius: 10px;
    border-style: solid;
    flex-basis: 400px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    
}

.buttons{
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 30px;    
    flex-basis:50%;
    


}

button{
    
    background-color: #302b63;
    border-style: solid;
    border-radius: 10px;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.upper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 50%;
}

.score{
    display: flex;
    justify-content: space-between;
    flex-basis: 50px;
    
}

.score .human,.score .robot{
    display: flex;
    flex-basis: 50%;
    text-align: center;
    justify-content: center;
    align-items: center;

}

.textScore{
    color: antiquewhite;
    font-weight: 800;
}










